<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/Semantic-UI/2.4.1/semantic.css"
          th:href="@{/webjars/Semantic-UI/2.4.1/semantic.min.css}"/>
    <link rel="shortcut icon" href="/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <style>
        html, body {
            padding: 1%;
        }
    </style>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
</head>
<body>
<p>[[${now}]]</p>
<form th:action="@{/registration}" th:object="${registration}" method="post">
    <div>
        <label>Birthday:</label>
        <input type="text" name="birthday" th:value="*{birthday}" placeholder="yyyy-MM-dd"/>
    </div>
    <div>
        <label>Firstname:</label>
        <input type="text" name="firstname" th:value="*{firstname}" placeholder="string"/>
    </div>
    <div>
        <label>Surname:</label>
        <input type="text" name="surname" th:value="*{surname}" placeholder="string"/>
    </div>
    <button type="submit" value="Submit" class="success button">Submit</button>
</form>
</body>
</html>
